Binaries
Build
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
!OWSInstanceLauncher/*/**
.idea
DDC
DDCGlobal
hooks
lfs

# Houdini
*bak*.hip
*bak*.hda

# Megascans
# Content/MSPresets
# Content/Megascans
